button {
    cursor: pointer;
    background: white;
    color: #333;
    font-size: 1.125rem;
    font-weight: 500;
    padding: $elem-tb 1.25rem;
    border: 1px solid $border-button;
    border-radius: $basic-radius;
    &:hover {
        border-color: $light-blue;
        color: $light-blue;
    }
    &.is-primary {
        background: $light-blue;
        border: none;
        color: white;
        &.is-complete {
            background:white;
            border: 1px solid $light-blue;
            color: $light-blue;
        }
    }
    &.is-submit {
        margin-top: 4rem;
        padding: .75rem 4rem;
    }
}