button {
    $larger-padding: 3.5rem;
    cursor: pointer;
    background: white;
    color: #333;
    font-size: 1.125rem;
    font-weight: 500;
    padding: $elem-tb 1.25rem;
    border: 1px solid $border-button;
    border-radius: $basic-radius;
    &:hover {
        border-color: $light-blue;
        color: $light-blue;
    }
    &.is-primary {
        background: $light-blue;
        border: none;
        color: white;
        &.is-complete {
            background:white;
            border: 1px solid $light-blue;
            color: $light-blue;
        }
    }
    &.is-secondary {
        border-color: $light-blue;
        color: $light-blue;
    }
    &.is-submit {
        margin-top: 4rem;
        padding: .75rem $larger-padding;
    }
    &.is-toggle {
        display:flex;
        align-items: center;
        justify-content: center;
        gap: .25rem;
        font-size: 1rem;
        font-weight: 400;
        min-width: 102px;
        &:after {
            content: '';
            display: inline-block;
            width: 1rem;
            height: 1rem;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99888 11.6842L16.0083 5L17.5 6.65916L9.99888 15L2.5 6.65916L3.99168 5L9.99888 11.6842Z' fill='%23888888'/%3E%3C/svg%3E%0A");
            background-size: contain;
        }
        &.open {
            &:after {
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99888 8.31582L16.0083 15L17.5 13.3408L9.99888 5L2.5 13.3408L3.99168 15L9.99888 8.31582Z' fill='%23888888'/%3E%3C/svg%3E%0A");
            }
        }
    }
    &.is-action {
        background: #666;
        border: none;
        color: white;
        padding-left: $larger-padding;
        padding-right: $larger-padding;
        margin-bottom: 1rem;
    }
}
img[role=button] {
    cursor: pointer;
    &:hover {
        filter: brightness(70%);
    }
}