input:not([type="checkbox"]),
input:not([type="radio"]),
select {
    font-size: 1.125rem;
    font-family: 'Pretendard';
    border: 1px solid $border-input;
    border-radius: $basic-radius;
    padding: $elem-tb .5rem;
    &::placeholder {
        color: #bbb;
    }
    &:required {
        background: lighten($required-blue, 2%);
    }
}

input[type="checkbox"],
input[type="radio"] {
    margin: 0;
}

label {
    &:has(input) {
        display: inline-flex;
        align-items: center;
        gap: .25rem;
        & + label {
            margin-left: 1rem;
        }
    }
}
