@import "variables.scss";
@import "../font/pretendard-subset.css";
@import "layout.scss";
@import "signin.scss";
@import "button.scss";
@import "input.scss";
@import "tabs.scss";
@import "table.scss";

*,
*:before,
*:after {
    box-sizing: border-box;
    font-family: 'Pretendard';
    letter-spacing: -0.0375rem;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #333;
    font-weight: 400;
}

fieldset {
    border: none;
    margin: 0;
    padding: .5rem 0;
    label {
        display: inline-flex;
        gap: .25rem;
        align-items: center;
        & + label {
            margin-left: .5rem;
        }
    }
}

.is-red {
    color: $dark-red;
}
.is-blue {
    color: $light-blue;
}
.is-required {
    &:after {
        content: "*";
        color: $dark-red;
        position: relative;
        top: -2px;
        left: 2px;
    }
}
.text{
    &-right {
        text-align: right;
    }
    &-center {
        text-align: center;
    }
    &-left {
        text-align: left;
    }
}

.page-wrapper {
    min-height: 100%;
    background: $bg-color;
    header {
        position: sticky;
        top: 0;
        z-index: 2;
    }
    h1,
    h2 {
        background: $bg-tab-default;
        color: white;
        font-size: 1.875rem;
        font-weight: 600;
        margin: 0;
        padding: 1.625rem 0;
        text-align: center;
        flex-grow: 1;
        &.selected {
            background: $bg-tab-selected
        }
        a {
            color: white;
            text-decoration: none;
            font-size: 1.375rem;
        }
    }
    &:not(.sign-in) {
        >.wrapper {
            padding: 4rem;
        }
    }
    h3 {
        font-size: 1.125rem;
        font-weight: 500;
        margin: 2.25rem 0 .5rem;
        &:first-of-type {
            margin-top: 1rem;
        }
        label {
            display: inline-flex;
            align-items: center;
            gap: .25rem;
            font-size: .875rem;
            font-weight: 400;
        }
    }
    span.is {
        &-required {
            color: $dark-red;
        }
        &-optional {
            color: $light-blue;
        }
    }
    section {
        h2 {
            flex: 0 0 auto;
            background: transparent;
            color: #333;
            font-size: 1.25rem;
            padding: 0;
        }
    }
    &.admin {
        background: white;
        min-width: 1080px;
        h1 {
            background: $dark-red;
        }
    }
}

.collapse {
    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 0;
        > div {
            display: flex;
            align-items: center;
            gap: .5rem;
            h2 {
                flex-basis: 8.25rem;
                text-align: left;
            }
            strong {
                flex: 1 0 auto;
            }
        }
    }
    display: block;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .4s cubic-bezier(0, 1, 0, 1);
    &.show {
        border-top: 1px solid #ccc;
        max-height: 99em;
        transition: max-height .4s ease-in-out;
        padding: 1rem 0 4rem;
    }
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    line-height: 1.5;
    margin-top: 4rem;
    & + .result {
        margin-top: 1rem;
    }
    .is-blue {
        font-size: 1.375rem;
    }
    > div + div {
        margin-top: .5rem;
    }
}

.grey-box {
    background: $bg-th;
    margin: 2rem 0;
    gap: 1.5rem;
    padding: 1.5rem 1rem;
    span,
    strong {
        font-size: 1.125rem;
    }
    img {
        width: 1.5rem;
    }
    input {
        width: 9.5rem;
        margin: 0 .25rem;
    }
    label {
        width: 100%;
        padding: 1rem 4rem;
        gap: 0;
        & + label {
            margin: 0;
        }
        span {
            flex: 0 0 4rem;
        }
        input,
        textarea {
            flex-grow: 1;
            margin: 0;
        }
    }
    .flex.center {
        margin-top: 1rem;
    }
}

.request-box {
    border: 1px solid $border-table;
    line-height: 1.6;
    padding: 1rem 4rem;
    .align-center,
    .align-start {
        gap: 1rem;
    }
    .align-start {
        margin-top: 2rem;
    }
    p {
        margin: 0;
    }

}

.sub-info {
    font-size: .75rem;
    list-style: none;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    li {
        & + li {
            margin-top: .25rem;
        }
    }
}

.complete-msg {
    font-size: 1.125rem;
    line-height: 1.5;
    padding: 6rem 0;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    text-align: center;
}

.admin {
    form {
        width: 30rem;
        margin: 0 auto;
        fieldset {
            font-size: 1rem;
            margin-top: 1.5rem;
            &:last-of-type {
                label span {
                    flex-basis: 11rem;
                }
            }
            legend,
            .legend {
                position: relative;
                font-size: 1.25rem;
                font-weight: 500;
                &:before {
                    position: absolute;
                    top: 50%;
                    left: -1rem;
                    transform: translateY(-50%);
                    content: '';
                    display: inline-block;
                    width: .75rem;
                    height: .75rem;
                    border-radius: 9999px;
                    background: $dark-red;
                }
            }
            legend {
                margin-bottom: 1rem;
            }
            .flex {
                gap: 1rem;
                & + .flex {
                    margin: 2rem 0 0;
                }
            }
            input {
                flex-grow: 1;
            }
        }
    }
    hr {
        height: 1px;
        border: none;
        background: $border-table;
        margin: 3rem 0;
    }
}

@import "breakpoint.scss";